<header>
  <div>
    <div class="usuario-botones">
      <button type="button"> <a href="/user/getUserProfil">Inicio</a></button>      
      <button type="button"> <a href="/user/logout">Cerrar Sesión</a></button>      
    </div>
  </div>
</header>
<br>

