<header>
    <div class="botoneraDeUsuario">
        <a href="/user/profile" class="sub-menu-link">
            <i class="fa-sharp fa-solid fa-user"></i>
            <p>Ver Perfil</p>
            <span><i class="fa-solid fa-arrow-right"></i></span>
          </a>

          <a href="/user/logout" class="sub-menu-link"> 
            <i class="fa-solid fa-right-from-bracket"></i>
            <p>Cerrar Sesión</p>
            <span><i class="fa-solid fa-arrow-right"></i></span>
          </a>
    </div>
</header>