<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <section>
        <div class="vertical-center">
            <div class="main-container">
                <h1 class="main-title">¡Bienvenido a la Aplicación de Gestión de Usuarios!</h1>
                <p class="main-description">Administra usuarios de forma eficiente y segura con nuestra moderna aplicación.</p>
                <p class="main-description">Regístrate o inicia sesión para comenzar.</p>
            
                <div class="form-align-button" >
                    <button type="button"> <a class="main-link" href="/user/login">Iniciar Sesión</a> </button> 
                    <button type="button"> <a class="main-link" href="/user/signinForm">Registrarse</a> </button>        
                </div>
            </div>
        </div>
    </section>
    <script src="/login.js"></script>
</body>
</html>
