<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <section>
        <%- include('../partials/header.ejs') %>
    </section>
    <section>
        <div class="main-container">
            <h1 class="main-title">Cambiar Contraseña</h1>
            <form id="changePasswordForm" class="form">
                <label for="contrasenaActual">Contraseña Actual:</label>
                <input type="password" name="contrasenaActual" id="contrasenaActual" placeholder="Ingrese su contraseña actual" required>
                <label for="nuevaContrasena">Nueva Contraseña:</label>
                <input type="password" name="nuevaContrasena" id="nuevaContrasena" placeholder="Ingrese su nueva contraseña" required>
                <label for="repetirContrasena">Repetir Contraseña:</label>
                <input type="password" name="repetirContrasena" id="repetirContrasena" placeholder="Repita su nueva contraseña" required>

                <button type="button" id="cambiarContrasenaButton">Cambiar Contraseña</button>
            </form>
            <div id="mensaje-container" style="display: none;"></div>
        </div>
    </section>
    <section>
        <%- include('../partials/footer.ejs') %>
    </section>
    <script src="/js/changePasswordForm.js"></script>
</body>
</html>
