<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <section>
        <%- include('../partials/header') %>
    </section>    
    <section>
        <%- include('createUserForm') %>
    </section>
    <section>
        <%- include('../partials/footer.ejs') %>
    </section>
    <script src="/js/signinForm.js"></script> 
</body>
</html>
