<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <button type="button"><a href="/">Inicio</a></button> 
    <div class="vertical-center">
        <div class="main-container">
            <h2>Iniciar Sesi칩n</h2>
            <form id="login-form" action="/user/login" method="POST"  class="form">
                <div class="form-group">
                    <label for="email">Correo Electr칩nico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="clave">Contrase침a</label>
                    <input type="password" id="clave" name="clave" required>
                </div>
                <button type="submit">Iniciar Sesi칩n</button>
                <% if (locals.errors) { %>
                    <div class="errores">
            
                    <% for(error in errors) { %>
                        <p>
                        <%= errors[error].msg %>
                        </p>
                        
                    <% } %>
                    
                    </div>
                <% } %>
            </form>
    
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>
