<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <button type="button"><a href="/">Inicio</a></button> 
        <%- include('createUserForm') %>
</body>
</html>
